.App {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

table {
  margin: auto;
  border-collapse: collapse;
}
.left {
  text-align: left;
}
tr {
  border-bottom: #bababa 1px solid;
}
td, th {
  padding: 0.2em 1em;
}

.hidden {
  display: none;
}